[2017-11-02 16:52] sruizrubio opened #28 "Lost connection and close minimize layout"
Hi,
I need to maintain minimized chat layout opened when connection lose but this layout is closed when chatui throw a timeout error.
Could I catch timeout error and avoid chat closed?
I want that client don't lose the conversation with the agent when it's throw a timeout error

Thank you.

[2017-11-02 17:09] sfyz commented on #28
Hi -- Can you confirm what version of the SDK you are using? Also, does the timeout occur when the chat session is minimized or full screen? And what is the error that you are receiving exactly? Thanks!

[2017-11-03 09:31] sruizrubio commented on #28
That's happened when it's minimized and the error that I'm receiving is a network error.
When network error is thrown, minimized chat is closed

[2017-11-03 14:48] sfyz commented on #28
OK. Thanks. What version of the SDK are you using? 210.0?

[2017-11-06 09:41] sruizrubio commented on #28
com.salesforce.service:chat-ui:2.0.0

[2017-11-06 17:46] sfyz commented on #28
Thanks again. I've filed an issue with the developers. We'll follow up with updated information...

[2017-11-06 18:09] sfyz commented on #28
@sruizrubio Does this issue block your progress in your app?

[2017-11-07 08:06] sruizrubio commented on #28
It's important for my app.
We want that chat continue active when it's throw a network error because we need that client can show his conversation with agent although error network happened.

I'm waiting for your answer.
Thank you.

[2017-11-07 16:11] sfyz commented on #28
OK. Thanks again, @sruizrubio. I passed this information along to the dev team.

[2018-02-09 17:12] danmcmillen opened #37 "Application generated dialogs do not show in SOS screen sharing sessions"
Hi,

We are currently using Service Cloud Snap-Ins for Android for customer support in our android application, however it appears that dialogs created by our application do not show up in the Agent's SOS screen sharing session, when the do appear on the users android device.

We have followed relevant documentation and guides found here: https://developer.salesforce.com/docs/atlas.en-us.service_s

[2018-02-09 18:47] rileymacdonald-sf commented on #37
Hi Dan,

I've been unable to reproduce this issue using our test application on SOS 3.1.0. Can you clarify what type of dialog you're using to reproduce the issue?

Thanks

[2018-02-09 18:50] danmcmillen commented on #37
Just a standard `DialogFragment` from android support lib.

[2018-02-09 20:45] rileymacdonald-sf commented on #37
Are the dialogs in question part of the window's view hierarchy? Any dialogs out of this hierarchy will not be captured by the SOS session.

[2018-02-09 20:47] danmcmillen commented on #37
Sorry, will have to get back to you on this. This might be the root cause, if it is not I will reopen. Thanks for the quick responses!

[2018-02-09 20:47] #37 closed

[2018-03-06 14:01] davidmigloz opened #42 "Minimum supported API version number is now 21?"
Is there any reason why you are dropping support for Android KitKat?

According to the [official data from February](https://developer.android.com/about/dashboards/index.html) there are still 12% of Android users using this version... which I think it's not an insignificant number.

[2018-03-06 14:16] rileymacdonald-sf commented on #42
@davidmigloz As part of our initiative to reduce our testing overhead and focus on supporting newer versions of Android we've dropped support for KitKat in release 212.

[2018-03-06 15:19] #42 closed

[2018-05-14 09:40] davidmigloz opened #48 "salesforcesos.com certificate is expired"
SSL certificate of salesforcesos.com expired today.

![image](https://user-images.githubusercontent.com/6546265/39989817-46dac314-576b-11e8-9274-b210ae4449f5.png)

[2018-05-14 13:18] evanisnor commented on #48
Hey David,

Sorry about that. We're working on renewing the certificate today. In the meantime you can replace the `salesforcesos.com` maven repository in your gradle scripts with this:

[code]

I'll post an update here and close the issue once the cert is renewed.

Cheers,
Evan

[2018-05-15 18:30] evanisnor commented on #48
Looks like we won't be able to get a renewed cert and the salesforcesos.com domain is being EOL'd soon. We are in the process of updating our documentation to reference the amazonaws URL.

In case anyone missed the edit, there is an HTTPS URL available and regular HTTP access has been restricted. Please reference the following maven repository going forward:

[code]

I'll leave this issue open for

[2018-05-16 13:27] evanisnor commented on #48
Hi @glureau-betclic,

For security reasons we have disabled HTTP access to the s3 instance so you have to reference the repository using the HTTPS URL instead.

[code]

[2018-05-16 13:41] glureau-betclic commented on #48
Thanks for the super fast response! I missed the new https AWS 👍

[2018-05-16 13:49] eladyi opened #51 "Build Error servicesdk 212.0.0"
hello,
I experience build error at my project and get  the same errors at  SnapinsChatSurvey salesforce example project.
i get this errors:

Unable to resolve dependency for ':app@debug/compileClasspath': Could not resolve com.salesforce.service:servicesdk:212.0.0.

Unable to resolve dependency for ':app@debugAndroidTest/compileClasspath': Could not resolve com.salesforce.service:servicesdk:212.0.

[2018-05-16 13:56] evanisnor commented on #51
Hi @eladyi , this is related to issue #48 . I'll post an update to the example projects to fix this soon. In the meantime you can update the salesforcesos.com repository to the following in Android Studio, in the root `build.gradle`:

[code]

[2018-05-16 14:00] evanisnor commented on #51
@eladyi If you run `git pull` it should fetch the latest example update which fixes the resolution error you are seeing. Cheers!

[2018-05-16 14:00] #51 closed

[2018-05-21 08:37] miguel-duarte opened #53 "Chat availability"
I'm developing a mobile app using React Native to be used on Android and IOS devices. In this application I'm using the Salesforce Live Agent snapin feature. The active agent is working fine and we can establish the chat with the agents, but it is not possible to check if the agent is available or not before clicking in the chat button. When we try to use your solution to check agent availability,

[2018-05-22 12:39] #48 closed

[2018-05-22 13:32] evanisnor commented on #53
Hi @miguel-duarte! I'm having trouble reproducing this problem. Can you confirm that your ChatConfiguration values are correct when calling `ChatCore.configureAgentAvailability(..)`?

This may also be related to your org's Live Agent configuration. Which style of routing is configured for your button?

[2018-05-22 19:45] evanisnor commented on #53
@miguel-duarte The "Unknown" state is returned by the SDK when the server has not provided an availability status. We usually recommend treating "Unknown" with the same case as "AgentsAvailable" because the chat session may still work.

Can you confirm for me that the Live Agent Pod that gets returned in `state.getLiveAgentPod()` is the same as the pod you have configured in your BuildConfig?

[2018-05-23 14:21] evanisnor commented on #53
Hey @miguel-duarte, I am unable to reproduce your problem, and you seem to be experiencing the same problem on iOS as well (https://github.com/forcedotcom/ServiceSDK-iOS/issues/21). When the server does not respond with an availability status the Android SDK will report `Unknown`, and the iOS SDK will report `Unavailable` by default.

This does not appear to be an issue with the SDK, but an issue

[2018-05-24 16:59] #53 closed

[2018-06-05 10:23] Shivani-Infostretch opened #56 "Popup windows are not Showing on Agent's SOS screen during SOS Screen Sharing Session."
Hi,

We are currently using  Service Cloud Snap-Ins API in Android for providing live customer support in our application.
In our application we are showing some coach-marks using Android PopupWindow widget.
As per android docs, PopupWindow is a floating container that appears on top of the current activity.Hence, PopupWindow is not a part of Activity's View Hierarchy and we are not able to captur

[2018-06-06 17:33] evanisnor commented on #56
Hi @Shivani-Infostretch,

Sorry, we don't currently support PopupWindow for capture during screen sharing. This would amount to a feature request. Feel free to submit this as a feature idea on the [Success Community's Idea page](https://ideas.salesforce.com).

Cheers,
Evan

[2018-06-06 17:38] #56 closed

[2018-06-08 08:51] AndrewBestbier opened #58 "Maven repo down"
Hi there, it seems as though your repo is down?

https://s3.amazonaws.com/salesforcesos.com/android/maven/release

[code]

The other one has its certificate expired.

[2018-06-08 10:09] #58 closed

[2018-06-08 13:13] evanisnor commented on #58
Hey @AndrewBestbier, thanks for bringing this up. Hopefully everything is working as expected now. I'm guessing our s3 instance had a bit of a service interruption. Let us know if you have any further issues!

[2018-06-12 15:51] sashalinder opened #59 "maven repo is down 2nd time"
Hi,
please assist.

https://s3.amazonaws.com/salesforcesos.com/android/maven/release

<Error>
<Code>NoSuchKey</Code>
<Message>The specified key does not exist.</Message>
<Key>android/maven/release</Key>
<RequestId>7DDE75EC415F3C6A</RequestId>
<HostId>
vBQZqn00LUK0rSx4MEOiwB0Ad3NQAvUV9LP/x+UPhIlB+a6m0n4S3jzd5fXRVHvIxgHWBw1HRM8=
</HostId>
</Error>

[2018-06-12 16:50] evanisnor commented on #59
Hey @sashalinder, are you trying to browse our maven repository in your browser? We don't allow that. If you would like to integrate one of our SDKs into your Android app, please consult our [installation guide](https://developer.salesforce.com/docs/atlas.en-us.noversion.service_sdk_android.meta/service_sdk_android/android_install_sdk.htm).
Cheers!

[2018-06-12 16:50] #59 closed

[2018-06-14 16:25] yasmcse opened #62 "string length visible under PreChatField"
I am creating a PreChatField which is simply a text field. But at bottom|right of the textfield the length of the string is being shown. The length is variable off course as the user types.

I don't want to display this length. How shall i remove this ?

[2018-06-14 16:48] evanisnor commented on #62
Hi @yasmcse, sorry but this feature isn't supported at the moment. It is possible to build your own custom Pre-Chat user experience by populating [ChatUserData](http://forcedotcom.github.io/ServiceSDK-Android/releases/chat/3.1.0/api/reference/com/salesforce/android/chat/core/model/ChatUserData.html) objects with the form data and passing them to a [ChatConfiguration.Builder](http://forcedotcom.git

[2018-06-14 16:48] #62 closed

[2018-06-20 11:41] atchariyap opened #64 "Error on Android"
Hi,

We tested SOS on Android but the app is closed while calling agent. The App team found this log shows that there is an error from Salesforce.

https://drive.google.com/file/d/1KjUEkfDTkTuRnOvke3S2pxDr2zKeJIFX/view?usp=sharing

Could you please let us know what is this error and how to fix?

Thank you.

Regards,

Atchariya

[2018-06-20 12:59] evanisnor commented on #64
Hey @atchariyap, thanks for bringing this to our attention. We're looking into this now and we will get back to you on this as soon as we can.

[2018-06-21 12:38] evanisnor commented on #64
Hi @atchariyap, we'll have a patched version of SOS out before the end of the week. I'll post an update here with upgrade instructions once it has been made available.

[2018-06-21 12:43] atchariyap commented on #64
Hi Evan,

Thank you for your update. So there is some bug on SOS right?

Regards,

Atchariya

Atchariya  Potduang

Project Manager

I&I Consulting Group Company Limited

475 Siripinyo Building, Unit 1801, 18Fl., Si Ayutthaya Road,

Phaya Thai, Ratchathewi, Bangkok 10400 Thailand

Phone : 063-323-8463  |  Email : acp@ii.co.th <pst@ii.co.th>  |  Website :
www.ii.co.th

[image: cert_logo-SALESFORCE-P

[2018-06-21 12:44] evanisnor commented on #64
Yes that is correct.

[2018-06-21 18:32] evanisnor commented on #64
Hi @atchariyap, we've just released a patch for the issue you were seeing. Please upgrade your dependency to consume SOS version 4.0.2, or ServiceSDK 214.0.1 to get the fix. Let me know how it goes!

https://github.com/forcedotcom/ServiceSDK-Android/releases/tag/214.0.1

Cheers,
Evan

[2018-06-21 18:32] #64 closed

[2018-06-22 08:28] atchariyap commented on #64
Hi Evan,

Thanks for your quick response.

Just to confirm that this release is tested and solved the issue?

Thank you.

Regards,

Atchariya

Atchariya  Potduang

Project Manager

I&I Consulting Group Company Limited

475 Siripinyo Building, Unit 1801, 18Fl., Si Ayutthaya Road,

Phaya Thai, Ratchathewi, Bangkok 10400 Thailand

Phone : 063-323-8463  |  Email : acp@ii.co.th <pst@ii.co.th>  |  Websi

[2018-06-22 11:55] evanisnor commented on #64
We tested the fix on a Samsung Galaxy Tab S with Android 5, which is the closest we have to the device you had reported seeing the crash on. We take crash reports very seriously here so this fix became our number one priority. Unfortunately it is not always possible for us to replicate the exact customer scenarios, but we do our best. Please let me know if you experience any further issues.

Thank

[2018-06-22 13:17] atchariyap commented on #64
Hi Evan,

Thank you very much for your support.

We have sent the patch to mobile app team and will let you know if any
issue.

Regards,

Atchariya

On Fri, 22 Jun 2018, 18:55 Evan W. Isnor, <notifications@github.com> wrote:

[2018-06-22 20:54] proudchild opened #66 "NoCachedResultsException on Authenticated DataCategoriesRequest"
Hello, since i upgraded to 214.0.1 yesterday ive been facing a strange issue,
if i make a DataCategoriesRequest with authenticated user i get the following errors:

Case 1 - NOT Using `.chacheResults(true)`

[code]

throws

[code]
Case 2 - Using `.chacheResults(true)`

[code]
The point is, everything worked perfectly up to this update.
I use mobile sdk 6
Also my token provider:

[code]

The same c

[2018-06-25 12:09] rileymacdonald-sf commented on #66
Hey @proudchild , thanks for bringing this to our attention. We're looking into this now and we will get back to you on this as soon as we can.

[2018-06-25 13:30] rileymacdonald-sf commented on #66
@proudchild After reviewing the above information I have a few questions:

1. Can you please provide additional steps to reproduce this issue?
2. What Android OS are you using to reproduce this issue?
3. Is the device offline while you're reproducing this issue?
4. Why are you deleting the cache during `onResume()`? This behavior is a bit odd, you shouldn’t have to do this. If you’re concerned abo

[2018-06-26 13:43] proudchild commented on #66
We started clearing cache after the issue with de database apeared.
After further investigation re remove the cache clearing.
We also pinned down the problem to:

Meaning that
`06-22 17:32:55.555 11252-11252/br.com.atile.offline W/System.err: com.salesforce.android.service.common.fetchsave.exceptions.NoCachedResultsException
06-22 17:32:55.555 11252-11252/br.com.atile.offline W/System.err:     at

[2018-06-26 14:16] rileymacdonald-sf commented on #66
@proudchild Can you please clarify the following:

1. Can you please provide additional steps to reproduce this issue (beyond the code, what specific actions are you performing on the UI)?
2. What Android OS are you using to reproduce this issue?
3. Is the device offline while you're reproducing this issue?
4. What previous version were you using before upgrading to 214.0.1?

The database error (`

[2018-06-26 15:01] proudchild commented on #66
Im sorry, forgot the rest.

1. Open the app
2. Login with salesforce
3. Lauch attendance activity
4. Error

Samsung galaxy tab A 7, 7.1.1 kernel 3.18.31
Motorola moto z 2 force, android 8.0.0

No

212, we migrated to use chatUserData

[2018-06-27 18:02] rileymacdonald-sf commented on #66
@proudchild thanks for the information. Unfortunately I've been unable to reproduce this issue. Is there any chance you can reproduce this issue using this sample application (`ServiceSDK-Android/Examples/SnapinsSDKExample/`)?

[2018-06-28 22:07] proudchild commented on #66
Riley,
I will try to recreate the problem then get back to you.

att,

[2018-07-05 10:15] iqbal21 commented on #66
we would like to use salesforce snapins mobile for android https://developer.salesforce.com/page/SnapinsMobile

we have incompatibility problem because our native app support minimum version SDK 16 (android 4.1)

while, salesforce sdk support SDK 21. Please help

[2018-07-13 16:38] dev777 opened #69 "Black (or transparent) KnowledgeUIClient Activity when app is backgrounded -> process is killed in background -> app reopened"
### Problem
I'm seeing an issue when calling `knowledgeUiClient.launchHome` to display the salesforce Knowledge UI home activity -> backgrounding the app -> simulate process death by OS (using Dev Options - Background Process limit - No background processes) -> opening another app to have the OS kill my process -> reopen app (through Overview or Launcher).

I see either a transparent (Nexus 5X API

[2018-07-13 18:13] rileymacdonald-sf commented on #69
Thanks for raising this issue @dev777, I'm able to reproduce it. I'll investigate and get back to you.

[2018-07-16 14:32] rileymacdonald-sf commented on #69
@dev777 Thanks for raising this. I'm closing this issue for now as we've scheduled a fix for our next release.

[2018-07-16 14:32] #69 closed

[2018-07-23 16:35] ratneshnavlakhe opened #70 "SnapIn SDK knowledge base not loading in mobile app."
Hello, I have created a simple Android app integrating with SnapIns SDK
Getting error while loading the knowledge base from the community url, below is the screen shot
<img width="309" alt="screen shot 2018-07-23 at 21 57 55" src="https://user-images.githubusercontent.com/4018792/43089904-88adae7a-8ec3-11e8-8286-b8ff191961e2.png">

my MainActivity.java is as below
It has my `community url`, `categ

[2018-07-23 17:41] rileymacdonald-sf commented on #70
Hi @ratneshnavlakhe based on the 404 from the logcat above it looks like this might be a configuration  issue?
[code]
Can you please verify your community URL, category group and root category configurations are correct? Are you able to reproduce this issue using our sample application (https://github.com/forcedotcom/ServiceSDK-Android/tree/master/Examples/SnapinsSDKExample)?

Thanks

[2018-07-23 18:06] rileymacdonald-sf commented on #70
@ratneshnavlakhe Looks like you might have `/s` appended in error on your community URL?
[code]
Without the `/s` the URL appears to work as expected (https://sample-sandbox-developer-edition.ap4.force.com/services/data/v38.0/support/dataCategoryGroups?sObjectName=KnowledgeArticleVersion&topCategoriesOnly=false)

[2018-07-24 05:42] ratneshnavlakhe commented on #70
Hey @rileymacdonald-sf I tried using the sample application. (https://github.com/forcedotcom/ServiceSDK-Android/tree/master/Examples/SnapinsSDKExample)

Below is my settings knowledge base settings on the sample application
<img width="319" alt="screen shot 2018-07-24 at 11 09 45" src="https://user-images.githubusercontent.com/4018792/43118972-2327e18c-8f32-11e8-9658-4ce202132b55.png">

And the sc

[2018-07-24 13:14] rileymacdonald-sf commented on #70
@ratneshnavlakhe Reviewing the `xml` response from https://sample-sandbox-developer-edition.ap4.force.com/services/data/v38.0/support/dataCategoryGroups?sObjectName=KnowledgeArticleVersion&topCategoriesOnly=false reveals that this issue is due to a configuration error.

[code]

Your data category for this should be `India`. Your root category should be `All` for everything or one of the `<name>`s

[2018-07-24 13:14] #70 closed

[2018-07-25 05:00] ratneshnavlakhe commented on #70
Hey @rileymacdonald-sf thanks for the clarification, we misplaced the data category and root category configuration.

Thank you so much for help :)

[2018-08-08 02:26] boymustafa opened #71 "Receive double push notifications"
We have implemented firebase SDK and received push notification correctly. However, when implementing the Salesforce Snaps-In SDK, we started to received duplicate push notification message. Only when we removed the whole SDK then the issue no longer happen.
We used servicesdk:210.0.0

We are aware that the SDK doesn't support FCM for now. But is there a way we can disable specifically the SDK pus

[2018-08-08 12:19] evanisnor commented on #71
Hi @boymustafa ! We have had 4 releases since our 210 release. Please refer to the [releases  page](https://github.com/forcedotcom/ServiceSDK-Android/releases) for the release notes and our [setup guide](https://developer.salesforce.com/docs/atlas.en-us.noversion.service_sdk_android.meta/service_sdk_android/android_install_sdk.htm#ess_sdk_setup_android) to update your app to the latest version of

[2018-08-09 12:34] #71 closed

[2018-08-10 01:55] boymustafa commented on #71
thanks for the help @evanisnor

[2018-08-12 18:39] AndyKD opened #72 "Case/Record is not created automatically in Sales force chat agent side in live chat."
Please fill out the following details:

Version of Mobile SDK Used: 3.1.0
Issue found in Native App or Hybrid App: Native App
OS Version: All
Device: All
Steps to reproduce: Start a chat with a live agent, case/record is not created on the agent side. Agent is not able to get any information of the chat client by using chat entity method of SDK
Actual behavior: Chat agent should side shown with th

[2018-08-13 12:44] rileymacdonald-sf commented on #66
Closing this as it requires more information.

[2018-08-13 12:44] #66 closed

[2018-08-13 12:45] rileymacdonald-sf commented on #72
@AndyKD let me investigate this issue further and I'll get back to you with more information.

[2018-08-13 23:01] AndyKD commented on #72
yea, please if you don't mind, its little urgent for me, can you investigate and help me out.

Just adding more info I am using

com.salesforce.service:chat-ui:3.1.0

(if you're only using Live Agent Core, then use com.salesforce.service:chat-core:3.1.0)

from this link : https://developer.salesforce.com/docs/atlas.en-us.service_sdk_android.meta/service_sdk_android/android_install_sdk.htm

[2018-08-14 10:37] AndrewBestbier opened #73 "Having issues with floating chat UI component"
Hi there,

I am having a few issues with LiveChat on android. I am getting the following floating chat input:
<img width="106" alt="screen shot 2018-08-14 at 11 35 23" src="https://user-images.githubusercontent.com/6062416/44086961-29b73054-9fb6-11e8-9c83-838ddb7e8d5c.png">

I am using the IOS SDK and I get the following:
<img width="109" alt="screen shot 2018-08-14 at 11 36 28" src="https://user-

[2018-08-14 13:34] rileymacdonald-sf commented on #73
I'm unable to reproduce this issue in our sample application. Can you please verify you're able to reproduce this issue using this sample application?

<img width="74" alt="screen shot 2018-08-14 at 10 29 47 am" src="https://user-images.githubusercontent.com/35701449/44094647-1a916d1e-9fad-11e8-8259-8679bc5c91ca.png">

Can you please provide some more information regarding reproducing this issue:

[2018-08-14 17:36] AndyKD commented on #72
Thanks for your help @rileymacdonald-sf

From this documentation: https://developer.salesforce.com/docs/atlas.en-us.noversion.service_sdk_android.meta/service_sdk_android/android_chat_send_custom_data.htm

ChatUIConfiguration.Builder not defined anywhere
 can you please provide me any snippet of code how I can use this?

[2018-08-14 17:59] AndyKD commented on #72
I have implemented like below, but still, the case is not getting created automatically at salesforce chat agent side, when my chat connects automatically. The case number to chat agent is showing empty:

protected void initiateChat(ChatConfiguration.Builder chatConfBuilder, Sp_ChatInfoModel data) {
        try {
            ChatUserData firstNameData = new ChatUserData(
                    "First

[2018-08-14 18:00] AndyKD commented on #72
pre cat pop is disabled Thanks for that. But the main problem is the automatic case is not getting generated.

[2018-08-14 19:05] AndyKD commented on #72
I tried with both lighting experience and sales force classic.
Yes I am able to see the first name now, but case number is not I am able to see

[2018-08-14 19:09] AndyKD commented on #72
![chatagent](https://user-images.githubusercontent.com/6467643/44112717-bf791c52-9fba-11e8-8f2b-5b2e4c840412.png)

Please refer this snapshot, In attach record Case is showing as empty.

[2018-08-14 19:43] rileymacdonald-sf commented on #72
@AndyKD Can you please confirm if this issue is reproducible with Omni routing or also with Live agent ?

[2018-08-14 19:53] AndyKD commented on #72
with Omni channel routing issue is reproducible

[2018-08-14 19:53] AndyKD commented on #72
We were able to reproducible with both Actually, omnichannel and live agents. We checked with omnichannel as well as live agents.

[2018-08-14 20:37] AndyKD commented on #72
Do you can please provide me any snippet of code where it's running for you or you are able to create a record using android at salesforce chat agent side.

[2018-08-15 02:50] SanjeevGopalan opened #74 "doesn't display case list view when empty"
With the latest version of SnapIn SDK (v214.0.1), the case list view is not displaying when there are no cases to display, instead a blank page is being displayed. Anyone else has encountered this situation? Any available solutions?

[2018-08-15 13:09] rileymacdonald-sf commented on #72
@AndyKD I went ahead and created a [new branch riley/case_creation_test](https://github.com/rileymacdonald-sf/ServiceSDK-Android/tree/riley/case_creation_test) using this sample app containing the code example you've requested. Here is a summary of the changes I've made to verify this functionality:
* `SupportHomeViewAddition.java` now calls `disablePreChatView` to ensure pre chat doesn't pop.
* `

[2018-08-15 17:57] evanisnor commented on #74
Hey @SanjeevGopalan, let me look into this a bit more. Which device and OS version are you seeing this on?

[2018-08-15 23:17] SanjeevGopalan commented on #74
Hi @evanisnor, looks like this issue is across device and Android OS versions. We used Google Pixel XL device with Android 8.1.0. It was also tested on Nexus 6P with same Android version (8.1.0). Faced the same issue on both occasions.

[2018-08-16 06:29] AndyKD commented on #72
Hi @rileymacdonald-sf

Did you shipped the right code to a branch. I am not able to see the changes which mentioned in the above link in the branch you shared with us.

But still from the changes I tried to get all the changes in my code, but still case is not getting created in the sales force automatically.

The other thing is by using the same org id we are able to create the case automatically

[2018-08-16 11:59] evanisnor commented on #74
Thanks @SanjeevGopalan, we are able to reproduce the issue. We'll prioritize this work and have a fix out in our next release.

[2018-08-16 12:38] SanjeevGopalan commented on #74
Dear @evanisnor ,
Thanks for confirming. Could you advise us when we can expect the next release please?
Thank you,
Sanjeev

[2018-08-16 12:56] rileymacdonald-sf commented on #72
@AndyKD I pushed the code to https://github.com/rileymacdonald-sf/ServiceSDK-Android/tree/riley/case_creation_test which is a fork of this repository. If you're unable to checkout the branch it's likely because you haven't cloned the fork or added it as a remote. The simplest solution would be to clone my work and checkout the branch from there:

[code]

Please let me know if you're able to checko

[2018-08-16 13:10] evanisnor commented on #74
You can expect our next release some time in October. For more information about Salesforce release dates you can check out the [status page](https://status.salesforce.com/). Select which instance your org resides on and then select the "Maintenances" tab.

Cheers!

[2018-08-16 14:02] #74 closed

[2018-08-16 16:51] proudchild opened #75 "Remove repeating knowledge title at knowledge ui"
Hello,
Our knowledge base consist of smalls solutions,
on the mobile, the sdk repeats the solution title as per print attached.

Is there a way to remove it by configuration or method call?

att,
![screenshot_20180816-134335](https://user-images.githubusercontent.com/3269176/44222594-6eee3180-a15b-11e8-9176-62495d6cf018.jpg)

[2018-08-16 16:59] proudchild opened #76 "Attach pdf on live agent SDK"
Hello,

On our app we need to be able to attach to the live agent operator a pdf with the instructions or documents from the client,

But we were only able to attach a image on android.

Is there a way to attach a pdf?
Is there a configuration we can do that?

thanks.

[2018-08-16 17:50] rileymacdonald-sf commented on #75
@proudchild Let me investigate this and I'll get back to you with more information.

[2018-08-16 18:04] rileymacdonald-sf commented on #75
@proudchild I'm unable to reproduce this issue. I attempted to reproduce the issue by creating a new article and providing data to all the available fields. Is it possible this issue is due to a configuration issue (such as putting the title into the field layout)?

[2018-08-16 18:04] rileymacdonald-sf commented on #76
@proudchild We only support uploading images to Live Agent. PDF uploads are not supported.

[2018-08-16 18:04] #76 closed

[2018-08-17 08:26] AndyKD commented on #72
@rileymacdonald-sf Thanks a lot for your support! Really appreciated
this works for us.

Awsome!

[2018-08-17 08:28] AndyKD commented on #73
@AndrewBestbier is it possible to open the chat view in full screen, instead of floating UI?

I am also getting this same floating UI.

[2018-08-17 08:33] AndyKD opened #77 "View all cases and reply back on the case"
Hi Team,

First of all a tons of thanks for your support!

I have one requirement which automated case is getting created at the chat agent side at the time of the live chat. I want to view all the cases related to my product and reply from the same.

This mean I want to see the history of the comments regard to that case and reply for the same. Can I do that can you please help me?

Is there code

[2018-08-17 08:36] AndyKD opened #78 "Attaching images/snapshot and files with the cases"
Hi Salesforce team,

Thanks for your great help and support!

I am not able to find the code where I can attach the files with the case/record. Do you have any sample available that I can do by my self?

Thanks.

[2018-08-17 12:59] #72 closed

[2018-08-17 13:19] rileymacdonald-sf commented on #73
@AndyKD We plan to support opening chat view in full screen in our next release. Are you able to reproduce this using our sample app? If so can you please specify the steps you're using to reproduce?

[2018-08-17 13:27] rileymacdonald-sf commented on #78
@AndyKD If you're using the default UI, no coding is necessary in your app to get this behavior. However, if you're using the [Core API](https://developer.salesforce.com/docs/atlas.en-us.noversion.service_sdk_android.meta/service_sdk_android/android_chat_core_api.htm#android_chat_core_api) please follow our [Transfer File to Agent documentation](https://developer.salesforce.com/docs/atlas.en-us.no

[2018-08-17 13:42] rileymacdonald-sf commented on #77
@AndyKD Can you please clarify; is this requirement you're requesting on the org/agent side?

[2018-08-17 17:28] AndyKD commented on #77
No on the application client side I am looking for.

[2018-08-17 18:28] AndyKD commented on #78
Do you have any working example or code snippet to send the file using Android class?

[2018-08-17 18:32] AndyKD commented on #77
My requirement is like I want to view all the history or comments related to my case and I want to add new comment, Is it possible?

[2018-08-17 18:44] rileymacdonald-sf commented on #78
@AndyKD Is the file transfer feature not working for you?

[2018-08-17 18:47] AndyKD commented on #78
We are not able to see the attachment option to attach file, Is there anything like if chat agent will request only then client can see the option to attach file or by default this option to attach file is available for the chat users?

[2018-08-17 18:48] rileymacdonald-sf commented on #77
@AndyKD The Chat SDK currently don't support displaying information regarding the history or comments related to cases. I will make a note of your desire for this feature.

[2018-08-17 18:48] #77 closed

[2018-08-17 18:56] rileymacdonald-sf commented on #78
@AndyKD Are you indicating that the agent is unable to request a file transfer from the console?

In order for the agent to request a file transfer from the user the live agent chat session needs to be attached to a case.

If you think this is a bug please specify the exact steps you're following to reproduce the issue along with the device details.

Thanks

[2018-08-17 19:32] AndyKD commented on #77
Is there any expectation I can get this by any feature planned release.

[2018-08-17 19:38] AndyKD commented on #78
No no agent is able to request and on the mobile side we are able to see the camera option as well
but it's saying the in the mobile side, Permission is not there when we are choosing a picture from gallary.

But my application is having the permission of camera.

[2018-08-20 11:57] rileymacdonald-sf commented on #78
@AndyKD Please provide more information about the device this issue is reproducible on (device name, Android OS, etc). Have you tried clearing all the application data and reproducing? Are there any additional steps to reproduce the problem?

[2018-08-20 12:39] rileymacdonald-sf commented on #75
Closing as needs more information.

[2018-08-20 12:39] #75 closed

[2018-08-20 12:42] rileymacdonald-sf commented on #77
@AndyKD please contact your account team directly or make a post at http://ideas.salesforce.com/ regarding this feature request.

[2018-08-22 06:10] SanjeevGopalan opened #79 "Unusual 'Something went wrong' error with Case Feed on native Android mobile app"
We have a native Android app used for case and knowledge management which is used by external (community) users. We are using MobileSDK v6.2.0 and ServiceSDK v212.0.0. We came across an unusual error when trying to expand on the Case Feed notification. The reproduction step is as below (see the video Salesforce Bug video.zip]\ - https://github.com/forcedotcom/ServiceSDK-Android/files/2309080/Sales

[2018-08-22 12:38] rileymacdonald-sf commented on #79
@SanjeevGopalan Thanks for raising this. Are you able to reproduce the issue using our latest release (`2.14.0`)? In the meantime please let me investigate further and I'll get back to you with more information.

[2018-08-22 13:55] rileymacdonald-sf commented on #79
@SanjeevGopalan Are you able to reproduce the issue using our sample application?

[2018-08-22 18:17] AndyKD commented on #78
I will attach the snapshot, surely

[2018-08-23 01:06] ogenez-tu commented on #79
Hi @rileymacdonald-sf, I'll be following up this issue on behalf of @SanjeevGopalan , who's unable to follow it up at this time.

Unfortunately we cannot go to production with `214.0.0` due to the issue raised here: https://github.com/forcedotcom/ServiceSDK-Android/issues/74. We still tried it for the purpose of testing this issue, which unfortunately is still occurring:

[code]

From what we can

[2018-08-24 14:06] #78 closed

[2018-08-27 05:42] tkuwada opened #80 "How to display the mobile screen only on the back camera image when connect to SOS like SOS version 1.4.0."
**In the latest SOS version 4.0.2,**
small windows are displayed in the large window and the lower right when connecting with SOS.

Camera images displayed on mobile are as follows.

[Mobile screen]
· Large window: Operator's camera image
· Small window: video of the back camera

[Operator's screen]
・Mobile side back camera video

The support requirement of SOS changed this time, it was necessary

[2018-08-27 12:52] evanisnor commented on #74
Hey @SanjeevGopalan, @ogenez-tu,

To recap on this issue, when an authenticated user presses the Case SDK launch button in your app and they do not have any open cases, they are met with a blank view and the "Create new case" FAB is not visible, which prevents them from opening their first case.

As I mentioned before, we will have a fix for this issue in our next release. The empty notice will be

[2018-08-27 13:01] evanisnor commented on #80
Hey @tkuwada, thanks for posting. Can you answer a few questions for me?
1. Which device and OS version are you testing on?
2. What does your `SosConfiguration.Builder` code look like? Can you share it with me?

Thanks,
Evan

[2018-08-28 01:10] tkuwada commented on #80
Hi @evanisnor, thank you for replying.

Android API version 21 and 28.
Actually, I would like to use it in API version 16, but the support requirement changed in May 2018,
the min API version was changed to 21, and it became unusable.

 <br>

[code]

[2018-08-28 01:35] tkuwada commented on #80
Attached a schematic overview of the problem.

<br>

![img_sos_connecting_ver4 0 2](https://user-images.githubusercontent.com/11694610/44695286-7099ec80-aaad-11e8-8e41-c8ffc548249b.png)

It is not our desired specification that the video of the agent is displayed.
In our use case, the agent does not use web camera and audio.

I hope to display only the back camera image on the mobile screen, and d

[2018-08-28 05:27] ogenez-tu commented on #74
Hi Evan,

We'll investigate how/if we can implement this workaround.

Thank you for looking into it!

[2018-08-28 05:29] ogenez-tu commented on #79
Hi,

As there was some progress on another issue we raised, I just wanted to check in on this one and see if there were any updates and/or if you needed any more info from us.

Thanks a lot!

[2018-08-28 12:27] rileymacdonald-sf commented on #79
@ogenez-tu thanks for following up. We're still investigating this issue and will post any updates as soon as possible.

Thanks.

[2018-08-28 13:56] evanisnor commented on #80
Hey @tkuwada, thanks for being so concise with your question. The diagram is very appreciated! Unfortunately hiding the agent video is not supported in the SOS Android SDK.

Cheers,
Evan

[2018-08-28 13:56] #80 closed

[2018-08-28 14:26] rileymacdonald-sf commented on #79
@ogenez-tu do you have guest access enabled on your org? Can you verify this issue is only reproducible using unauthenticated users?

[2018-08-28 15:35] arlindiDev opened #82 "Hidden fields show empty view before chat bubble opens"
I want to send hidden fields to my salesforce organisation but when I open the Chat UI first a Dialog/View is shown which is bad for the UX, see below:

I am adding the hidden fields as the documentation describes with `ChatUserData` in the salesforce backend I can see the fields correctly but why is this view showing which is bad UX is this default behaviour of the SDK or can I change this?

![sa

[2018-08-28 15:53] evanisnor commented on #82
Hey @arlindiDev, thanks for posting. You can turn this pre-chat UI off in your `ChatUIConfiguration` since you don't have any pre-chat fields to display.

[code]

http://forcedotcom.github.io/ServiceSDK-Android/releases/chat/3.1.0/api/reference/com/salesforce/android/chat/ui/ChatUIConfiguration.Builder.html#disablePreChatView(boolean)

I hope this helps!
Cheers,
Evan

[2018-08-28 15:53] #82 closed

[2018-08-29 03:09] tkuwada commented on #80
Hi @evanisnor , I understand that it can not be done with the current SOS version.

However, in SOS version 1.4.0 the agent was hidden and the application was running.
Please tell me which version changed specifications and how I should have detected it.

Best,
Toshiyasu

[2018-08-29 06:09] ogenez-tu commented on #79
Hi @rileymacdonald-sf / @evanisnor,

Below are the answers to your questions:

**_Do you have community guest access enabled on your org?_**

Yes.

**_Is this issue only reproducible using unauthenticated users?_**

Yes. The issue happens consistently after a case created in "Unauthenticated" mode is updated to "Authenticated" mode and assigned to an existing contact; when that contact accesses th

[2018-08-29 07:48] arlindiDev commented on #82
Thank you that works :)

[2018-08-29 08:10] arlindiDev opened #83 "Clicking on Notification is there any callback?"
I have a issue with the default behaviour of notifications and I don't know how to change it. I cant control what happens when notifications are clicked.
Here is the list of steps to reproduce the issue:
- Have a chat session open
- Leave or close the running application
- The live agent sends a message
- A notification appears with the message
- Click the notification
- The app opens up into the

[2018-08-29 14:38] evanisnor commented on #83
Hi @arlindiDev. Unfortunately what you're looking for isn't supported right now. Just curious, what kind of actions would you like to perform on the Activity after receiving a new chat message?

[2018-08-29 15:22] arlindiDev commented on #83
I'd like to open the LiveChat Activity directly and not go through my `MainActivity`. Because now the user has to click the bubble again to open the LiveChat.

[2018-08-29 18:41] evanisnor commented on #79
@ogenez-tu It sounds like your org is customized for your use case. We are having a great amount of difficulty emulating this in our test environment so we can reproduce the issue. Do you have a sandbox org with similar case data that we could use to validate a fix? If so, can you send the configuration values to me via e-mail? eisnor@salesforce.com

[2018-08-31 01:11] tkuwada opened #84 "How to display the back-camera video in a large frame by default, and display the agent's video in the small frame?"
I have some questions related to Issue above about SOS SDK.

**1. How to display the back-camera video in a large frame and display the agent's video in the small frame  by default?**

I know when you tap a small window, the video of the back camera is displayed in a large frame.
<br>

**2.  Which version changed the default specification of the SOS connection screen(continuation of # 80)  and how

[2018-09-12 12:08] evanisnor commented on #79
This has been fixed in the latest release.
https://github.com/forcedotcom/ServiceSDK-Android/releases/tag/214.0.2

[2018-09-12 12:08] #79 closed

[2018-09-14 11:55] bartolkaruza opened #87 "Migrate v4 FragmentActivity to v7 FragmentActivity"
The required superclass of an Activity for the call to `.startChatSession()` is a support v4 `FragmentActivity`. The minimum SDK version for the SF Mobile SDK is 21, making the v4 `FragmentActivity` super class unnecessary. The preferred superclass should be the `AppCompatActivity`. Keeping the v4 FragmentActivity will prevent any React Native apps RN < 0.57 from integrating the ServiceSDK easily

[2018-09-17 03:53] SanjeevGopalan opened #88 "Picklist sort order is alphabetical in v214.0.2, while it should be based on the order set in Salesforce"
When using v214.0.2, the values in picklist fields are shown in alphabetical order while it should be shown in the order that is defined in Salesforce. This is an issue in this version, while in previous versions the order is per what is defined in Salesforce. This has high impact on us since the users tend to chose first few items and the first in alphabetical order is something we want down in t

[2018-09-17 17:53] evanisnor commented on #87
Hey @bartolkaruza, thanks for bringing this up. We'll look into this and see what we can do.

Cheers,
Evan

[2018-09-18 13:18] rileymacdonald-sf commented on #88
Thanks for raising this @SanjeevGopalan. Closing this issue as we're now tracking this bug internally.

[2018-09-18 13:18] #88 closed

[2018-10-09 18:12] sashalinder opened #89 "../merged.dir/values/values.xml:1052: error: <item> inner element must either be a resource reference or empty."
Getting the error in the subject during execution of the SnapinsSDKExample project.

android {
    compileSdkVersion 27

    defaultConfig {
        applicationId "com.salesforce.snapinssdkexample"
        minSdkVersion 21
        targetSdkVersion 27
        versionCode 1
        versionName "1.0"
    }

}

stacktrace:

org.gradle.internal.UncheckedException: java.util.concurrent.ExecutionExceptio

[2018-10-09 19:47] evanisnor commented on #89
Hey @sashalinder, thanks for posting. Does the problem still occur if you add this line item to your `src/main/res/values/ids.xml` file?

[code]

[2018-10-10 06:16] sashalinder commented on #89
Thanks @evanisnor , ids.xml wasn't in the project.
I added it with the element.
Solved my problem.

[2018-10-17 11:01] grivos opened #93 "Using latest sos version without limiting to sdk > 21"
I'm using the sos sdk v3.1.0.
I want to upgrade but you change the min sdk version to 21 and I have to support users with version 19 and up.
Is there a way to update the sdk and still support my users with a KitKat device?

[2018-10-17 19:38] evanisnor commented on #89
Solved with the latest version of the SOS SDK
https://github.com/forcedotcom/ServiceSDK-Android/releases/tag/216.0.0

[2018-10-17 19:38] #89 closed

[2018-10-25 15:56] #87 closed

[2018-10-29 23:51] ogenez-tu opened #97 "App crashes upon restart if the app process has died in the background while on Case List or Case Feed screens"
### Issue description
App crashes upon restart if the app process has died in the background while on Case List or Case Feed screens (CaseListActivity or CaseFeedActivity).

### Reproduction steps
* Build your app with some runtime permissions; let's use Location for this example
* Grant the Location permission to your app
* Open the app
* Authenticate into Salesforce
* Go to the Case List screen

[2018-10-30 14:38] rileymacdonald-sf commented on #97
@ogenez-tu thanks for providing such excellent details regarding this issue. Let me take some time to investigate and I'll get back to you with more information.

[2018-10-31 10:08] jainvishakha commented on #72
I was following this thread, and its working for me to create a case when chat is initiated with an agent. But I am facing a problem when I can start a chat salesforce is not creating a new case instead it will link it with the last existing case.
One more strange behaviour is that when I am passing a customer chat parameter "Priority" with different value then it is creating a new case always but

[2018-10-31 10:11] jainvishakha opened #98 "New case not created when initiating a new chat with live agent. Linkning with existing case."
Salesforce creating a case when chat is initiated with a live agent. But I am facing a problem when I can start a chat salesforce is not creating a new case instead it will link it with the last existing case.

One more strange behaviour is that when I am passing a customer chat parameter "Priority" with different value then it is creating a new case always but if I am passing the same value for e

[2018-10-31 11:52] rileymacdonald-sf commented on #72
@jainvishakha Are you able to reproduce the issue on your org using this sample application?

[2018-10-31 11:53] rileymacdonald-sf commented on #98
@jainvishakha Are you able to reproduce the issue on your org using this sample application?

[2018-10-31 12:10] jainvishakha commented on #72
Yes we are facing the same issue in this sample app too.

[2018-10-31 12:12] jainvishakha commented on #98
Yes issue is reproducible in sample app too.

[2018-10-31 16:49] rileymacdonald-sf commented on #98
@jainvishakha Can you please verify what builder arguments you're using with `ChatEntityField.Builder()`. Are you using `.doFind(true)` or `.isExactMatch(true)`?

[2018-11-01 01:24] JinTiloganart opened #99 "Receiving ChatID and CaseID via Android SDK"
After every chat ends, we would like to direct customer to a rating page, in which after customer has rated us, the result will be sent back to be associated with chat/case raised by customer.

To do so, caseID and chatID is needed to correctly link result and its case, however, right now the SDK only know agentID.

Any advice on how to pass caseID and chatID via SDK?

Version of Mobile SDK Used:

[2018-11-01 01:26] JinTiloganart opened #100 "Multiple Live Agent thumbnails"
1. SDK version: 214.0.2, Live agent chat version: 3.1.0
2. Issue found in Native App or Hybrid App: Native app
3. OS Version: Android 9
4. Device: Google Pixel 2 XL
5. Steps to reproduce:

1) Customer Initiate a chat and is connected to Live Agent
2) Agent click 'End chat'
3) On customer side, 'Chat session ended by agent' appear on the screen
4) Customer minimize chat page, chat icon is grey with

[2018-11-01 01:39] JinTiloganart opened #101 "Live Chat session doesn't trigger case creation"
1. SDK version: 214.0.2Live agent chat version: 3.1.0
2. Issue found in Native App or Hybrid App: Native app
3. OS Version: Android 9
4. Device: Google Pixel 2 XL
5. Steps to reproduce:

1) Customer with existing account in Salesforce initiate chat from Android device. Chat is routed to Agent A
2) From Agent A side, Live Chat Transcript 01 is created, Case 01 is popped up next to Live chat transcr

[2018-11-01 01:49] JinTiloganart opened #102 "Live Agent Timeout not working"
1. SDK version: 214.0.2, Live agent chat version: 3.1.0
2. Issue found in Native App or Hybrid App: Native app
3. OS Version: Android 9
4. Device: Google Pixel 2 XL
5. Steps to reproduce:

1) In 'Chat Buttons and Automated Invitations' ,configure 'Customer Time-Out (seconds)' to 90 seconds
2) Initiate chat on Android device
3) Chat got routed to agent
4) Agent send message to customer
5) Customer

[2018-11-01 04:10] jainvishakha commented on #98
Yes, I am using .doFind(true) ,  .isExactMatch(true), .doCreate(true) with ChatEntityField.Builder()

[2018-11-01 12:32] evanisnor commented on #102
Hi @JinTiloganart, this timeout mechanism is not supported by the Snap-Ins Android SDK at this time.

Cheers!
Evan

[2018-11-01 12:32] #102 closed

[2018-11-01 12:34] evanisnor commented on #99
Hi @JinTiloganart, unfortunately it is not possible for the Chat SDK to relay the Case ID to the client.

Cheers!
Evan

[2018-11-01 12:34] #99 closed

[2018-11-01 12:40] JinTiloganart commented on #99
Hi @evanisnor , is it possible to pass chat id?

[2018-11-01 12:45] evanisnor commented on #99
It looks like the chat transcript ID is not passed to the Chat SDK either, so it is not possible for the SDK to pass it to the app. Sorry about that!

[2018-11-01 12:53] rileymacdonald-sf commented on #98
This functionality appears to be working as expected. See the API reference at https://forcedotcom.github.io/ServiceSDK-Android/releases/chat/3.2.0/api/reference/com/salesforce/android/chat/core/model/ChatEntityField.Builder.html:

If you remove `doFind(true)` and `isExactMatch(true)` I assume a new case will be created as expected. Is the code you posted in issue #101 the same as what you're refe

[2018-11-01 12:57] rileymacdonald-sf commented on #101
@JinTiloganart This functionality appears to be working as expected. See the API reference at https://forcedotcom.github.io/ServiceSDK-Android/releases/chat/3.2.0/api/reference/com/salesforce/android/chat/core/model/ChatEntityField.Builder.html:

doFind(): Define whether or not this ChatEntityField will perform a lookup query for records that match the ChatUserData value within the specified Sales

[2018-11-01 13:10] rileymacdonald-sf commented on #100
@JinTiloganart unfortunately this is a known issue with the minimized view. We're tracking this issue internally.

[2018-11-01 13:10] #100 closed

[2018-11-01 13:22] JinTiloganart commented on #99
Hi @evanisnor , can you recommend what can we do if we want to link the survey result that we capture to the correct chat transcript or case on Salesforce?

[2018-11-01 14:02] evanisnor commented on #99
Unfortunately I can't help you with that. I can only help you with issues directly related to the Android Snap-ins SDK. Please reach out Customer Success; they should have people who are better equipped to help you find a solution.

Cheers,
Evan

[2018-11-01 17:29] jainvishakha commented on #98
Yes, Its works for me. Thanks for your great help !!

[2018-11-01 17:48] #98 closed

[2018-11-02 05:59] JinTiloganart opened #103 "Accessing Visualforce page from external site/app"
We would like to call a visualforce page or lightning component from our app (outside Salesforce instance).

It's a post-chat survey page that capture the result and link it to its main case/chat. Now it's working on PC but we want this page to be accessible from mobile app as well (we're using Snap-ins SDK on mobile), to store all post-chat survey like PC.

Appreciate any advice on how to do it.

[2018-11-02 06:34] JinTiloganart commented on #100
Hi @rileymacdonald-sf , the inactive thumbnail can't be closed either, is this a known issue too? thanks!

[2018-11-02 12:33] sthistle commented on #103
Hi @JinTiloganart
This example project shows how to monitor for the end of a chat and take some action in the app. In this example the app will launch a webview to a survey after the chat is completed. You may be able to use this as a starting point for your usecase.
https://github.com/forcedotcom/ServiceSDK-Android/tree/master/Examples/SnapinsChatSurvey

[2018-11-05 02:48] JinTiloganart commented on #100
Hi @rileymacdonald-sf ,

Can you help clarify where can I try this on the sample application?
So far we only try it on our app.

Thanks!

[2018-11-05 12:52] rileymacdonald-sf commented on #100
@JinTiloganart Clone this repository and [open this project](https://github.com/forcedotcom/ServiceSDK-Android/tree/master/Examples/SnapinsSDKExample). The [README](https://github.com/forcedotcom/ServiceSDK-Android/blob/master/Examples/SnapinsSDKExample/README.md) contains instructions on building/configuring the sample application with your Salesforce org details.

[2018-11-05 13:29] evanisnor commented on #103
Please contact Customer Success for additional help.

Cheers,
Evan

[2018-11-05 13:29] #103 closed

[2018-11-05 14:52] #101 closed

[2018-11-05 18:50] evanisnor commented on #97
We've released version 4.1.3 of the Case SDK to solve the crash issue. If you repeat the reproduction steps after upgrading, you may notice that the last used Case Activity will appear blank. If this occurs, please consider initializing a `CaseUIClient` during `Application.onCreate()`.

Release notes:
https://github.com/forcedotcom/ServiceSDK-Android/releases/tag/216.0.1

Cheers,
Evan

[2018-11-05 18:50] #97 closed

[2018-11-08 20:13] cammace opened #105 "KnowledgeActivity failing to receive request response"
### Issue description
Hey there, I'm reaching out after exhausting all other options with debugging this issue. When the `KnowledgeActivity` gets launched, a request is fired with [this url](https://help.doordash.com/dashers/services/data/v44.0/support/dataCategoryGroups?sObjectName=KnowledgeArticleVersion&topCategoriesOnly=false) but the logcat never shows a successful response with the data and

[2018-11-09 08:47] arlindiDev opened #106 "I cannot close the chat"
I want to close the chat UI (Bubble view minimized) and end the session between the agent and user I am using `ChatUIClient.endChatSession()` but that does not work my SDK version is `216.0.1`

[2018-11-09 12:52] rileymacdonald-sf commented on #105
@cammace Can you please provide logcat output while I continue to investigate this issue? Thanks.

[2018-11-09 17:19] cammace commented on #105
Logcat when I launch the `KnowledgeActivity`:

[code]

[2018-11-09 20:01] rileymacdonald-sf commented on #106
@arlindiDev Closing the minimized chat view programmatically is not support by the Snap-Ins Android SDK at this time.

[2018-11-09 20:01] #106 closed

[2018-11-14 02:32] elaser commented on #105
Thanks @rileymacdonald-sf! do you have a rough eta on fix?

[2018-11-14 14:02] rileymacdonald-sf commented on #105
@elaser I'll be sure to let you know as soon as I have more information.

[2018-11-15 19:51] rileymacdonald-sf commented on #105
@elaser @cammace Patch release `4.2.1` of Knowledge has been deployed containing a fix for this.

Cheers,
Riley

[2018-11-15 19:51] #105 closed

[2018-12-05 02:20] JinTiloganart opened #109 "[Question] "case" vs "caseid" as field name to create case object"
Please fill out the following details:

1. Version of Mobile SDK Used:  214.0.2Live agent chat version: 3.1.0
2. Issue found in Native App or Hybrid App: Native app
3. OS Version: Android 9
4. Device: Google Pixel 2 XL
5. Steps to reproduce:
1. Customer with existing account in Salesforce initiate chat from Android device. Chat is routed to Agent A
2. From Agent A side, Live Chat Transcript 01 is

[2018-12-05 18:55] rileymacdonald-sf commented on #109
@JinTiloganart It's difficult to confirm if the field name you're using is causing this issue. This type of problem is generally due to a configuration errors. Is it possible for you to send us a code snippet for the entities setup and from that explain the behavior you're expecting?

I've updated the code at https://github.com/rileymacdonald-sf/ServiceSDK-Android/blob/riley/case_creation_test/Exa

[2018-12-06 03:06] JinTiloganart commented on #109
Hi @rileymacdonald-sf
I've attached the code for generating cases in this comment. Please let me know if you need further information.
[salesforce_android.docx](https://github.com/forcedotcom/ServiceSDK-Android/files/2651536/salesforce_android.docx)

Also, just to clarify, when I said 'we can't reproduce the issue in UAT' I meant our team didn't run into this problem while testing, perhaps it's be

[2018-12-13 16:26] offerperetz opened #113 "Problem in: "com.salesforce.service:sos:4.0.3" with Marshmallow (8) and Pie (9)"
Hi,

My name is Offer and i'm an Android developer from Pepper Bank (Bank Leumi).
We having a problem with your new SDK - 4.0.3 and need your assistance soon as possible because we are in production mode.

### Issue description
We are using SOS-SDK version 4.0.3, with android Marshmallow (8) and Pie (9), when we trying to open video chat the SDK always disconnect from it. Also, the error we are ge

[2018-12-13 17:59] evanisnor commented on #113
Hi @offerperetz, thanks for posting. Does the problem occur using version 4.0.2 of the SDK?
Also, can you produce any debug logs when this happens? Please ensure you have [debug logging enabled](https://developer.salesforce.com/docs/atlas.en-us.noversion.service_sdk_android.meta/service_sdk_android/android_logging.htm).

Thanks,
Evan

[2018-12-14 10:06] grivos commented on #113
Here are the logs produced by using 4.0.3 on an Android Pie device:
[code]

[2018-12-14 11:13] grivos commented on #113
When using 4.0.2 on an Android Pie device we get this exception when starting a session:
[code]

[2018-12-14 14:04] evanisnor commented on #113
Thanks for the log dump! Very helpful. The SDK seems to be handling a server error appropriately by discontinuing the session. Here's the error on the server side, which occurs after sending the CreateSosRequest:

[code]

The JSON sent by the SOS SDK is valid and all keys contain quotes. There may be something wrong with your org configuration. I'd look for any custom JSON in your org settings and

[2018-12-14 18:21] evanisnor commented on #113
After digging into this more I have discovered that the custom data hash map is not being serialized in a way that LiveAgent expects. We will issue a patch soon.

Reopening for posterity.

Cheers!
Evan

[2018-12-14 21:15] evanisnor commented on #113
@offerperetz @grivos Please upgrade to SOS 4.0.4 or ServiceSDK 216.0.3 to receive the fix for this problem.

https://github.com/forcedotcom/ServiceSDK-Android/tree/216.0.3

Cheers,
Evan

[2018-12-14 21:15] #113 closed

[2018-12-17 07:31] deepanjali11 opened #115 "defaultToMinimized is not working"
Before filing an issue:
-----------------------
- Attempt to reproduce the issue using
  [this sample application](Examples/SnapinsSDKExample/)
- Search [existing issues](https://github.com/forcedotcom/ServiceSDK-Android/issues),
  including issues that are closed.
- Review the "Known Issues"
  [section of our release documentation](https://github.com/forcedotcom/ServiceSDK-Android/releases)
  for

[2018-12-17 13:37] #115 closed

[2018-12-20 18:10] #109 closed

[2019-01-02 10:10] floblaf opened #116 "Prechat form not displaying initialValue if not readOnly"
Hello,
We encountered the following issue using your SDK.

### Issue description
Before launching a chat session, we want to pre-fill the user form with the data of our connected user (lastname, firstname, email). But we want the user to be able to edit those fields.

It appears that we cannot set (or at least "see") any "initialValue" if the readOnly param is "false". So we can't achieve what we

[2019-01-03 21:38] RahulSengupta13 opened #117 "Chat UI not closing on tapping close button"
### Issue Description
On closing the chat window after an agent ends the chat session, it brings the floating chat UI into view. The user has to click the `X` again on the floating component to close it. I'd like the UI to be gone completely once the user taps `X` on the chat window after an agent ends the session.

### Reproduction steps
1. Start chat session from app with agent.
2. Wait for agen

[2019-01-04 06:30] JinTiloganart opened #118 "Cannot transfer file"
1. Version of Mobile SDK Used: 214.0.2Live agent chat version: 3.1.0

2. Issue found in Native App or Hybrid App: Native app

3. OS Version: Android 9

4. Device: Google Pixel 2 XL

5. Steps to reproduce:

1)Have the Agent send a request for a file for customer to attach
2)Get an error message 'Cannot request a file transfer'

OR

1)Have the Agent send a request for a file for customer to attach
2

[2019-01-04 09:02] floblaf commented on #116
Thanks for your response. I can't really find release information on http://trust.salesforce.com/
Do you have a link dedicated to SDK releases ? When will be the next one approximately ? (days, weeks, months ?)

Thanks

[2019-01-04 13:43] evanisnor commented on #118
Hi @JinTiloganart, thanks for posting.

This seems to be related to your Live Agent Org configuration and does not appear to be related to the Snap-Ins Android SDK. Please contact your customer success representative about this for further assistance.

[2019-01-04 13:43] #118 closed

[2019-01-04 14:10] rileymacdonald-sf commented on #116
We're planning to publish this release mid February 2019.

[2019-01-04 14:12] floblaf commented on #116
Ok thanks for the information

[2019-01-04 14:34] rileymacdonald-sf commented on #117
@RahulSengupta13 unfortunately this functionality is not supported by the chat SDK.

[2019-01-04 14:34] #117 closed

[2019-01-29 04:16] JinTiloganart commented on #118
@evanisnor  more info on the issue,
- it happens intermittently, not all the time
- we already enabled agent file transfer

![image](https://user-images.githubusercontent.com/44631258/51883823-9bbb9b80-23bf-11e9-8979-4d552f0e260f.png)

[2019-02-05 17:30] cammace opened #120 "Knowledge SDK cache causing articles not to load"
Hey there, we've recently integrated the Salesforce Knowledge SDK into our application and on my end, things seem to be working correctly but we've been getting reports from our beta community that in some cases, the knowledge articles fail to load; showing the "Oops something went wrong..." message. My colleague was able to reproduce this and found that clearing the app cache resolved the issue.

[2019-02-06 13:16] rileymacdonald-sf commented on #120
Let me take some time to investigate this further and I'll get back to you.

[2019-02-13 13:47] rileymacdonald-sf commented on #120
@cammace Can you please clarify which devices/os this issue is reproducible on?

[2019-02-14 20:07] cammace commented on #120
Hey @rileymacdonald-sf, thanks for getting back to me. As for overall reproducibility, we haven't found the culprit of the issue and seems to happen randomly. No specific device causes this and we are using version `4.2.1` of the knowledge artifact. I take it even if I have logging disabled, `SQLiteException` will be logged as an error or will logging need to be enabled (we currently disable for r

[2019-02-19 09:01] shanecinense1994 opened #124 "Salesforce login page is not accepting prepopulated user credentials"
We had refreshed our Sandbox last week and had encountered issues during testing of the Mobile App. See below:

1. Salesforce login page is shown in the app, see image below (Expected: login page should NOT be visible to the customer in the app)

2. Salesforce login page is not accepting prepopulated user credentials, and as a consequence the app cannot login via the SF-endorsed User-Agent OAuth 2

[2019-02-19 16:50] evanisnor commented on #124
Hi! It looks like you require support for Salesforce Mobile SDK. This issue tracker is for the Service Cloud Snap-ins SDK. Try posting your issue here instead: https://github.com/forcedotcom/SalesforceMobileSDK-Android

Cheers!
Evan

[2019-02-19 16:50] #124 closed

[2019-02-26 09:10] JinTiloganart opened #127 "[Questions] Session will timeout soon notification"
In iOS, chat can send a notification to user when session is about to time out, but we can't seem to find this ability in Android document, can you help us check/confirm on this?
![image](https://user-images.githubusercontent.com/44631258/53400674-581d7700-39e9-11e9-9217-85825287a79c.png)

[2019-02-27 15:47] rileymacdonald-sf commented on #120
@cammace we've opened a ticket internally to track this issue along with another ticket to further investigate modifying the API to support exposing this type of error. Closing this issue.

[2019-02-27 15:47] #120 closed

[2019-02-27 17:17] colinmacdonald commented on #127
@JinTiloganart This is a platform difference between Android and iOS. On iOS the session cannot be kept alive while in the background due to limitations in what can be done while backgrounded. This timeout is a local notification on the device, which is used to bring the end user back to the app so the session doesn't die. On Android we are capable of making the network requests to the server to k

[2019-03-01 19:21] #127 closed

[2019-03-22 10:39] jeffreyrajanofficial opened #129 "Not able to get chat request in Live agent"
Hi I have been trying to create a live agent chat session, but every time I'm getting **connecting to chat** state in the floating chat UI and after sometime the message in the chatUI change to **session suspended**. I have been following from [this document](https://developer.salesforce.com/docs/atlas.en-us.noversion.service_sdk_android.meta/service_sdk_android/android_chat_basic_setup.htm). Plea

[2019-04-02 20:45] cammace commented on #120
I was finally able to identify the issue which was related to ProGuard stripping out the `sqlcipher` classes. Would be lovely if in a future release of the SDKs a `consumer-proguard-rules.pro` was included in the AAR for all these proguard rules which would eliminate the requirement for me to manually maintain the rules on my end.

[2019-04-17 03:19] Rutayuga opened #131 "System UI is not responding"
My app keeps on Crashing with the below error:

2019-04-16 22:00:59.143 1526-1526/? E/vold: Failed to chmod /data/system_ce/0: No such file or directory
2019-04-16 22:00:59.143 1526-1526/? E/vold: Failed to chmod /data/misc_ce/0: No such file or directory
2019-04-16 22:00:59.143 1526-1526/? E/vold: Failed to chmod /data/media/0: No such file or directory
2019-04-16 22:01:07.947 1588-1588/? E/Goldf

[2019-04-17 11:25] roopagalgali commented on #89
Thanks @evanisnor , ids.xml wasn't in my project either.
I added it with the element.
Resolved my issue.

[2019-04-18 12:45] ashand-sf commented on #131
Please see bug template, follow the steps and supply requested information

[2019-04-18 12:45] #131 closed

[2019-04-18 12:47] ashand-sf commented on #129
Please see the bug template and supply the requested information. This channel is for bug reports. If you are having an integration issue, please reach out to your support agent.

Thanks!

[2019-04-18 12:47] #129 closed

[2019-04-18 20:19] tnfaid commented on #89
@roopagalgali could you explain how to added it with element. because i'm so confused. what element, and where is the location?

[2019-04-19 05:29] roopagalgali commented on #89
1. Add a new "Android Resource file" and name it "ids.xml".
This file is created in values directory with the following content.
<?xml version="1.0" encoding="utf-8"?>
<resources>
</resources>
2. I was getting an error with this item -"touchId" . So added the following line and recompiled.
    <item name="touchId" type="id" />

[2019-04-19 05:30] roopagalgali commented on #89
Add a new "Android Resource file" and name it "ids.xml".
    This file is created in values directory with the following content.

2. I was getting an error with this item -"touchId" . So added the following line and recompiled.
<item name="touchId" type="id" />

[2019-04-19 05:33] roopagalgali commented on #89
@tnfaid - 1. Add a new resource file with name ids.xml. 2. Add the tag with the item name that's giving you the error. In my case it was "touchId" - `<item name="touchId" type="id" />`

[2019-05-08 00:12] johndcclm opened #137 "Account is being logged in Account Settings in user's device (Android)"
We have an application does not directly interact with the Android framework AccountManager in any way.

The application authenticates with Salesforce by extending the provided OAuthWebviewHelper class. This class ends up calling the Salesforce SDK's ClientManager which calls AccountManager.addAccountExplicitly. This results in account details showing up in device system settings.

Is there is a w

[2019-05-08 02:06] geekandt opened #138 "URGENT: SF push notification is not working for auto responses when a case is created or a case is closed"
### Issue description
When a case is created using our app, there is an auto response that will be sent to the user in the app. This auto response must also have a push notification.
But the push notification is not working for the auto response.

Actual behavior:
Push notifications is not working on the auto responses when a case is created/closed.
It is only working when there is an adhoc reply

[2019-05-08 22:24] plangstrom commented on #137
Hi @johndcclm, this sounds to be about the Mobile SDK rather than the Service SDK. Please ask on their GitHub Issues page: https://github.com/forcedotcom/SalesforceMobileSDK-Android/issues
Thanks!

[2019-05-08 22:24] #137 closed

[2019-05-09 19:59] plangstrom commented on #138
@geekandt As mentioned on the iOS issue for this https://github.com/forcedotcom/ServiceSDK-iOS/issues/81 we don't currently support push notifications when creating/closing cases. But as a workaround, you can try using the QuickAction API to set up a custom Apex trigger for the case publisher to automatically make posts on the case when the case changes status to created or closed. The posts on th

[2019-05-09 19:59] #138 closed

[2019-05-10 01:06] geekandt commented on #138
Hi @plangstrom , This is the current functionality in our app. We already have a custom code that will post in the case chatter feed for the open and closed cases. But, we are not receiving the push notifications for this.

Please advise?

[2019-05-10 05:26] shanecinense1994 opened #139 "Android SDK - 2 issues detected upon upgrading to Android ServiceSDK version 218"
Issue description:

Issue 1
Our android devs have tried upgrading to https://github.com/forcedotcom/ServiceSDK-Android/releases version 218.0.0
However the issue is it is not loading the existing cases once upgraded (at least in staging).

Actual: There's a 'Sorry Something went wrong' error on the screen.
Expected: List of existing cases

Issue 2
When creating a case in the SF-controlled UI page,

[2019-05-14 01:43] shanecinense1994 commented on #139
Hi,

Is there any update for this?
Note that this is an urgent case on our end.
Kindly take a look on this ticket as a priority.

Thank you

Regards,
Shane

[2019-05-14 12:49] aeisses commented on #139
Hey Shane,

We just released a new version of the SDK, can you give that a try?

Thanks,
Aaron

[2019-05-14 19:04] colinmacdonald commented on #139
Hi Shane,

Thank you for the report. I've reproduced the upgrade bug when upgrading from 216 to 218/220 and logged a bug. Still looking into what causes this to happen.

[2019-05-15 01:01] geekandt commented on #139
Hi @aeisses, Thank you. I have relayed to our devs regarding this new version. We'll update you once they are done building with this version.

Hi @colinmacdonald , Thank you. Looking forward to your updates.

Thanks,
Gee

[2019-05-17 15:11] colinmacdonald commented on #139
@shanecinense1994 @geekandt We have a fix for the Sorry "Something went wrong' error" when upgrading from 216 and are aiming to patch this fix into our 220 release next week. This issue is due to upgrading sqlCipher from 3.5.9 (216.0.0) to 4.0.1 (218.0.0+). You can override the sqlCipher version in 218.0.0+ back to 3.5.9 as a temporary workaround to prevent the error screen. However, there is a kn

[2019-05-19 22:55] shanecinense1994 commented on #139
Thanks @colinmacdonald . Just a followup question, what is the exact date of your 220 release this week?

[2019-05-21 10:13] colinmacdonald commented on #139
@shanecinense1994 We are planning on it being available by Friday. Could be sooner than that though. I'll be sure to post here once it's available.

[2019-05-22 00:45] shanecinense1994 commented on #139
Thank you for the info @colinmacdonald . We're looking forward for your updates.

[2019-05-23 06:49] hmedat opened #140 "Missing "allowMinimization" Flag"
How i can remove or hide the minimize button in the chat window,
I've checked all fields in the ChatConfig and ChatChatUiConforgrion, there is nothing

But this flag is there in the IOS, "SCSChatConfiguration
![Screen Shot 2019-05-23 at 10 46 26 AM](https://user-images.githubusercontent.com/4534097/58231564-62c97d00-7d48-11e9-8f9b-e2fce306c2d7.png)
"

[2019-05-23 12:39] aeisses commented on #140
Hey @hmedat

That is not a feature that is support on Android.

Thanks,
Aaron

[2019-05-24 05:08] shanecinense1994 commented on #139
Hi @colinmacdonald , just a gentle followup regarding the 220 release. Do you have any updates? Thank you

[2019-05-24 14:33] #140 closed

[2019-05-24 14:42] colinmacdonald commented on #139
@shanecinense1994 The patch release is being pushed to next week due to the ongoing production issue in Salesforce. More information about this issue can be found here: https://trust.salesforce.com/en/ and here: https://status.salesforce.com/incidents/3815. I'll let you know here when it's live. Sorry for the inconvenience.

[2019-05-27 00:11] shanecinense1994 commented on #139
@colinmacdonald Thanks for the info. We're looking forward for your updates soon.

[2019-05-28 12:20] colinmacdonald commented on #139
@shanecinense1994 Release 220.1.0 with the upgrade fix is planned to go live Wednesday, May 22th. Thanks.

[2019-05-28 22:41] shanecinense1994 commented on #139
@colinmacdonald Is it today? 29th May?

[2019-05-29 10:19] colinmacdonald commented on #139
@shanecinense1994 Yes later today. Just had a typo in the date.

[2019-05-29 13:07] ghoaccount opened #142 "Create Person Account"
Hi,

Does the android service SDK supports creating person account records instead of account ?

Thank you

[2019-05-29 15:02] colinmacdonald commented on #139
@shanecinense1994 The 220.1.0 release is available. For version information see here: https://github.com/forcedotcom/ServiceSDK-Android/releases/tag/220.1.0. This should address the upgrade issue you encountered. A bug has been logged for the other issue around the UI dropdown picker and is still being looked into.

Let me know if you have any issues upgrading. Thanks!

[2019-05-29 15:02] #139 closed

[2019-05-29 22:43] shanecinense1994 opened #145 "Android SDK - UI Dropdown picker issue when upgrading to Android ServiceSDK version 218"
Issue description:
We have already logged this few weeks now but the ticket has been closed. Since this is not yet fixed, we need to create a new ticket for this to check for any updates

Previous ticket: https://github.com/forcedotcom/ServiceSDK-Android/issues/139

Issue:
When creating a case in the SF-controlled UI page, the dropdown picker misbehaves – sometimes it appears and disappears withou

[2019-05-31 12:19] colinmacdonald commented on #142
Please see the bug template for reporting issues. Thanks.

[2019-05-31 12:19] #142 closed

[2019-05-31 12:44] colinmacdonald commented on #145
Can you try reproducing this issue on the latest 220.1.0 patch. Also, are you able to reproduce the issue without overriding any styles? Thanks.

[2019-06-02 23:16] shanecinense1994 commented on #145
Thanks @colinmacdonald , We have relayed this on our team. We'll update you as soon as we get a response from our dev team.

[2019-06-06 00:45] shanecinense1994 commented on #145
Hi @colinmacdonald  this is to inform you that the issue regarding the drop down picker is now resolved in the 220 release. Thank you for your help.

[2019-06-07 12:44] colinmacdonald commented on #145
Thanks for looking into this @shanecinense1994 !

[2019-06-07 12:44] #145 closed

[2019-06-11 08:06] imvjhere opened #146 "Salesforce Chat SDK - Camera permission is required even before logging into App"
### Issue description
We are using Salesforce Chat SDK (220.0.0) in our Android app. Since the Camera permission is required for Chat SDK, the camera permission alert pops-up even before the user can login and before we can explain to the user why the permission is needed. Is there any way we can remove this permission requirement ? Or is there a way we can populate the alert only before the permi

[2019-06-13 08:58] shanecinense1994 opened #147 "[URGENT] Unable to Authenticate to Salesforce"
Issue:
We're unable to Authenticate the new/returning user to Salesforce.

Steps:
- Authenticate into the app as a new or returning customer
- Click on 'Get In Touch'

Actual:
- The unauthenticated form is loaded
- Customer is not authenticated into Salesforce
- Due to this they will never receive in-app notifications, replies and case list
- This issue is present only in Staging and not in Produc

[2019-06-13 13:45] colinmacdonald commented on #147
You will need to open a Salesforce support ticket to investigate configurations that are org related as these GitHub issues are only for issues with the Service SDKs themselves.  If your staging org is a sandbox you will want to make sure your login endpoint is pointing to `test.salesforce.com`.

[2019-06-13 13:45] #147 closed

[2019-06-13 14:01] colinmacdonald commented on #146
I am not able to reproduce this issue as you describe. I ran the example app located in this repo and it only requests permissions for the camera when you select "take a picture" after the file is requested by an agent.

[2019-06-13 14:15] colinmacdonald commented on #146
Also, can you post more details about the device you're using (API version)?

[2019-06-13 16:47] imvjhere commented on #146
@colinmacdonald I am using API Version 28, and device Pixel X, Android 9.0.
The issue exists, I assume the Salesforce Chat SDK writes the permission requirement during runtime, wondering how to make permission requirement only when selecting 'take a picture' option is selected.

Due to this issue we had to remove the Salesforce SDK. If this is only happening in our App, Please let us know if there

[2019-06-13 16:48] imvjhere commented on #146
One thing to point is, We are using only Salesforce - ServiceChat SDK.

[2019-06-14 11:00] colinmacdonald commented on #146
@imvjhere We only request the camera when the agent requests an attachment and the camera option is selected. We have not had other customers run into this issue. The only time I see the permission being requested is when I click the camera option for a file upload.

[2019-06-25 12:40] #146 closed

[2019-06-26 18:18] vijay961 commented on #89
<item name="touchId" type="id" /> Added This Eventhough im getting errors:- C:\Android\MyApplication2\app\build\intermediates\incremental\mergeDebugResources\merged.dir\values\values.xml:335: error: <item> inner element must either be a resource reference or empty.

[2019-06-28 05:51] roopagalgali commented on #89
Can you check what is the line 335 in

Added This Eventhough im getting errors:-
C:\Android\MyApplication2\app\build\intermediates\incremental\mergeDebugResources\merged.dir\values\values.xml

On Wed, Jun 26, 2019 at 11:48 PM Vijay <notifications@github.com> wrote:

[2019-06-28 05:52] roopagalgali commented on #89
Please send what is on this line 335 in file

C:\Android\MyApplication2\app\build\intermediates\incremental\mergeDebugResources\merged.dir\values\values.xml

On Fri, Jun 28, 2019 at 11:21 AM Roopa Desai <roopagalgali@gmail.com> wrote:

[2019-06-28 17:57] PradeepIn opened #148 "Hello,"
Before filing an issue:
-----------------------
- Attempt to reproduce the issue using
  [this sample application](Examples/SnapinsSDKExample/)
- Search [existing issues](https://github.com/forcedotcom/ServiceSDK-Android/issues),
  including issues that are closed.
- Review the "Known Issues"
  [section of our release documentation](https://github.com/forcedotcom/ServiceSDK-Android/releases)
  for

[2019-06-28 17:57] PradeepIn opened #149 "How to upgrade Android SDK to latest version or where can i find latest files(.aar) for Android SDK upgrade."
Before filing an issue:
-----------------------
- Attempt to reproduce the issue using
  [this sample application](Examples/SnapinsSDKExample/)
- Search [existing issues](https://github.com/forcedotcom/ServiceSDK-Android/issues),
  including issues that are closed.
- Review the "Known Issues"
  [section of our release documentation](https://github.com/forcedotcom/ServiceSDK-Android/releases)
  for

[2019-06-28 18:40] #148 closed

[2019-06-28 18:40] PradeepIn commented on #148
Opened another

[2019-06-28 18:45] PradeepIn commented on #149
Hello, Mobile team is reqesuting sfdc library files(.aar) for android SDK latest version upgarde.

Can you please help us on getting the latest aar files (SDK version 220.1.0).

Thanks,
Pradeep.

[2019-07-02 10:33] colinmacdonald commented on #149
Please see installation instructions found here: https://developer.salesforce.com/docs/atlas.en-us.service_sdk_android.meta/service_sdk_android/android_install_sdk.htm

[2019-07-02 10:33] #149 closed

[2019-07-08 07:19] ShopeeLiWenxin opened #150 "Cannot Transfer File in Live Chat"
Hi we're having an issue with our live chat functionality - transfer file in live chat session. Intermittently we got error message 'File transfer failed' after customer uploaded the file. Already talked to SF support, and provided console log, ping, HAR, traceroute, but seems not related to internet connection. So we're not sure whether there is any issue with our Snap-in SDK implementation

Vers

[2019-07-08 07:19] ShopeeLiWenxin commented on #150
Hi please do not close this case as we need to collaborate with our dev and Salesforce support here

[2019-07-09 14:14] colinmacdonald commented on #150
@ShopeeLiWenxin I need some clarification around the reproduction steps.

In your steps you describe

But you also describe the expected and actual results as:

Which one of these statements best describes what's happening (This assumes you're using the default UI):

A. The agent attempts to request a file transfer in the service console but the request fails and never makes it to the device.

*OR

[2019-07-09 15:37] colinmacdonald commented on #150
Also, Can you please confirm this is an issue on both iOS and Android? I believe at first I only saw an issue open for iOS but now there's one for both platforms.

[2019-07-09 20:32] TooSerious opened #151 "Android Salesforce SDK is not allowing tappable phone number links on OS 9"
When reporting a bug:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
you're unable to provide certain information, please explain why in the relevant
section. We may close issues if they do not include sufficient information.

### Issue description
When Salesforce agent sends a phone number to a user of their service over an Android OS 9 devi

[2019-07-10 10:49] ShopeeLiWenxin commented on #150
Hi Colin,

Thanks for following up on the case here. The issue we're facing is B:
B. The agent successfully requests the file transfer. The attach file icon appears on the device (camera icon). However, after the end user clicks the icon to select an attachment it fails to upload the attachment from the device.

In addition, after agent successfully requests the file transfer and end-user selected

[2019-07-10 11:26] colinmacdonald commented on #150
Thanks for the clarification @ShopeeLiWenxin. I compared the logs for all of our customer's orgs to your org to and do see a significantly higher rate of failure when attempting to attach a file. Some failures are expected due to variable network conditions but your org does see a higher failure rate.

I have a few follow up questions:

1. Do you experience the issue on both iOS & Android or is it

[2019-07-10 11:35] ShopeeLiWenxin commented on #150
Hi @colinmacdonald ,

Please find my comments below.

Do you experience the issue on both iOS & Android or is it mostly just one or the other?
**>> When the issue happens, we experience it on both iOS and Android**
I see your first case describing this issue was opened in December. Did this feature work correctly before that?
**>> We only started using chat SDK in Dec last year and the issue start

[2019-07-10 11:45] colinmacdonald commented on #150
Yes, can be found here in the README:
 - Android: https://github.com/forcedotcom/ServiceSDK-Android/tree/master/Examples/SnapinsSDKExample
 - iOS: https://github.com/forcedotcom/ServiceSDK-iOS/tree/master/Examples/SnapinsSDKExample.

Will just need to configure the sample apps with your live agent server URL, organizationId, deploymentId, and buttonId. It's the same as how you configured your prod

[2019-07-10 13:44] colinmacdonald commented on #151
@TooSerious Thank you for the detailed bug report. I will open an internal bug report referencing this issue where it will be prioritized for a future release.

[2019-07-10 13:44] #151 closed

[2019-07-11 03:53] ShopeeLiWenxin commented on #150
Hi Colin,

Just to check again, in order to use the sample apps here, we need to have some Android & iOS testing apps to implement the sample app code, is that correct? I have consulted our developer and seems we need a mobile app in order to try the sample you shared above.

[2019-07-11 05:59] ShopeeLiWenxin commented on #150
Hi Colin,

Regarding the SDK version, we're constantly updating the SDK version to the most updated one but the issue still persists.

[2019-07-11 09:13] Maxwell6635 opened #152 "Chat UI End Session Alert Dialog not following app theme color"
Please fill out the following details:

1. Version of Mobile SDK Used: 7.1.2 , ChatUI 3.5.0
2. Issue found in Native App or Hybrid App: End Chat Session Alert Dialog Color is not following App Theme Color.
3. OS Version: Android 7 (Nougat)
4. Device: Huawei P9 Plus

5. Steps to reproduce: Start A Live Agent Chat, minimise ] the live chat session and press cross button it will prompt end session al

[2019-07-11 12:01] colinmacdonald commented on #150
Hi @ShopeeLiWenxin,

Nope, the example app I linked above is a complete app that you can run by itself.

You can see this is just the root of a regular Android project that you can import into Android Studio, build, and run: https://github.com/forcedotcom/ServiceSDK-Android/tree/master/Examples/SnapinsSDKExample. The same goes for the iOS sample app. Can import it into Xcode, build, and run: https

[2019-07-16 06:28] Maxwell6635 commented on #152
Hi Salesforce,

Any updates on this issues?

[2019-07-16 06:39] Maxwell6635 opened #153 "Live Chat File Transfer attach pdf files with ChatUI"
May I know how can I enable for Android able to send pdf attachment instead image only ?

As now Agent request file transfer only camera attachment icon is available, but user unable to send any file or pdf to Live Agent.

[2019-07-16 11:48] colinmacdonald commented on #152
@Maxwell6635 You can do this by following this guide: https://developer.salesforce.com/docs/atlas.en-us.service_sdk_android.meta/service_sdk_android/android_customize_colors.htm

Specifically you're going to be looking to change `salesforce_brand_secondary` for the button text in this dialog, `salesforce_contrast_quaternary` for the background color, and `salesforce_contrast_primary` for the title

[2019-07-16 11:50] colinmacdonald commented on #152
![Screen Shot 2019-07-16 at 8 49 01 AM](https://user-images.githubusercontent.com/3648226/61292061-9c49c200-a7a6-11e9-8c4e-d36474cd1581.png)

[code]

[2019-07-16 11:50] #152 closed

[2019-07-16 12:02] colinmacdonald commented on #153
@Maxwell6635  Currently we only provide access to image directories on IOS and Android in the default UI. This may be possible to implement using the core API (not using our default API). I'll open this as a feature request for the default UI where it would have to be prioritized for a future release.

[2019-07-16 13:13] Maxwell6635 commented on #152
@colinmacdonald
I have tried still not working. Kindly refer to this video
https://drive.google.com/open?id=1-IkkOltWcZ6Znq8IWvtO7PJsFjIiN_Zp

[2019-07-16 13:15] Maxwell6635 commented on #153
@colinmacdonald
Using the Core API required a lot of effort to done the UI customisation ? Could it be ChatUI default add FileTransferRequestListener ?

[2019-07-16 13:26] colinmacdonald commented on #153
@Maxwell6635 Unfortunately not. The default ChatUI cannot be extended with this kind of functionality from Chat Core so it would have to be one or the other at the moment.

[2019-07-16 13:48] colinmacdonald commented on #152
@Maxwell6635 I can't say for sure what's happening on your end but there must be some style override you're missing as part of your theme. If you try running the example app located in this repo: https://github.com/forcedotcom/ServiceSDK-Android/tree/master/Examples/SnapinsSDKExample and add the following to https://github.com/forcedotcom/ServiceSDK-Android/blob/master/Examples/SnapinsSDKExample/a

[2019-07-17 03:08] Maxwell6635 commented on #152
@colinmacdonald
Hi I found the reason that why is not being follow the salesforce custom color. Reason is I am using MaterialDesign Theme Style thus it will overwrite all alert dialog button text color. I have tested out in using example the result is same as I facing the issues.
<style name="AppTheme" parent="Theme.MaterialComponents.DayNight.NoActionBar">

Could you kindly check why when we not

[2019-07-17 06:48] Maxwell6635 opened #154 "Live Chat Android Soft Keyboard Appear Again After Pressed Chat With An Agent"
Please fill out the following details:

1. Version of Mobile SDK Used: 7.1.2 , ChatUI 3.5.0
2. Issue found in Native App : After key in prechat field and start live agent, Android default soft keyboard appear again
3. OS Version: Android 7 (Nougat)
4. Device: Huawei P9 Plus

5. Steps to reproduce:
1) Start A Live Agent Chat
2) Prechat Field Form appear and Android Soft keyboard will appear
3) Pres

[2019-07-17 10:09] #153 closed

[2019-07-17 10:13] colinmacdonald commented on #152
@Maxwell6635 Sorry, we can't test all design themes to make sure they are compatible with our out of the box UI. You will have to override some of the colors being set by MaterialDesign.

[2019-07-23 08:48] ShopeeLiWenxin commented on #150
Hi Collin,

Just wanna check with you again, when you compare our org's file transfer failure rate with other companies, are you comparing with companies that use snap-in SDK specifically? Thanks!

Best regards,
Wenxin

[2019-07-23 10:28] colinmacdonald commented on #150
Hi @ShopeeLiWenxin,

Yes, I compared your org's failure rate to all of our other customers using the Snap-Ins chat SDK.

[2019-07-24 13:00] colinmacdonald commented on #154
Thanks for the bug report. We will look into this and file an internal bug ticket.

[2019-07-25 19:33] denyspro opened #155 "Chat UI end session alert dialog different when minimized"
### Issue description
Hi. We found the end session alert colors are different when the chat window is minimized.

Maximized:
<img width="240" alt="Screen Shot 2019-07-25 at 16 20 47" src="https://user-images.githubusercontent.com/6625509/61902591-d62e6d00-aef8-11e9-9b78-feffc9a67b64.png">

Minimized:
<img width="240" alt="Screen Shot 2019-07-25 at 16 20 57" src="https://user-images.githubuserconte

[2019-07-26 10:21] colinmacdonald commented on #155
This was reported before here: https://github.com/forcedotcom/ServiceSDK-Android/issues/152. The issue was that a MaterialDesign theme was overriding some colors. Without the MaterialDesign theme applied you can see the colors show up as expected in the issue linked above.

[2019-07-26 10:21] #155 closed

[2019-07-26 10:21] #154 closed

[2019-08-11 18:29] fullstackdeveloper1221 commented on #89
Hello
I am facing the same issue
D:\WORK\Shandianwang\Shandianwang_0705\Shandianwang\app\build\intermediates\incremental\mergeDebugResources\merged.dir\values\values.xml:1583: error: <item> inner element must either be a resource reference or empty.

On the 1583 line, there is     ```<dimen name="dp_279">279.0dip</dimen>```
What's the solution?

[2019-08-12 04:18] roopagalgali commented on #89
1. Add a new resource file ids.xml
2. Try adding the following line
     <dimen name="dp_279" type="id" />
OR
   <dimen name="dp_279" value="279.0dip" />

Let me know how it goes.

Thanks,
Roopa

On Sun, Aug 11, 2019 at 11:59 PM fullstackdeveloper1221 <
notifications@github.com> wrote:

[2019-08-13 09:34] fullstackdeveloper1221 commented on #89
It works fine.
Thanks. :)

[2019-08-16 14:14] diegojaka17 commented on #72
Could you share the code you implemented in android to solve the problem?

[2019-08-16 14:16] diegojaka17 commented on #72
thanks for your help

[2019-08-19 13:58] colinmacdonald commented on #150
Issue has been inactive for a month. Closing.

[2019-08-19 13:58] #150 closed

[2019-09-10 10:07] tsengvn opened #156 "Cannot launch chat if modify some colors"
### Issue description
- App will be freezed if we modify few color that used inside the library

### Reproduction steps
- Using the SnapinsSDKExample
- Add these colors value in xml

[code]
- Open app, launch Chat, app will be freezed
- guess something wrong with AvatarBranding.getAccessibleShades

### Version of SDK components being used
- com.salesforce.service:chat-ui:3.5.0
- or use the latest

[2019-09-10 13:57] colinmacdonald commented on #156
Hi @tsengvn,

Thanks for reporting this. I've been able to reproduce the issue and will open an internal bug to fix it.

As a workaround for now you can try using different color values as some work better than others. In general it appears that white `salesforce_brand_contrast` seems to behave better.

[2019-09-11 03:34] iandextermaya opened #157 "Is it possible to customize the chat interface minimized view and queue display?"
QUESTION

Is it possible to customize the chat interface minimized view and queue display?

https://i.stack.imgur.com/BVbNv.png

Thanks!

[2019-09-11 06:38] tsengvn commented on #156
hi @colinmacdonald  thanks for the following up.

Ya we will fix as work-around on our side based on your suggestion too, but still looking forward for the new release of this.

[2019-09-11 13:23] colinmacdonald commented on #157
Hi @iandextermaya,

It depends on what kind of customization you're looking for.

If you simply want to change the colors to match your app's branding, yes: https://developer.salesforce.com/docs/atlas.en-us.service_sdk_android.meta/service_sdk_android/android_customize_colors.htm?search_text=branding.

If that doesn't fit your needs you can also build your own UI using our chat-core SDK: https://d

[2019-09-12 09:13] geekandt opened #158 "Query - Push Silent Notifications"
### Issue description
Our devs need to know:
1. Does the SF SDK push silent notifications to the app? Under what conditions, when does this happen?
2. And additionally can it be removed?

### Version of SDK components being used
220.1

### Device(s) and version(s) of Android being used
All devices
Android 7 and up

[2019-09-13 10:39] colinmacdonald commented on #158
Please see [this documentation](https://developer.salesforce.com/docs/atlas.en-us.service_sdk_android.meta/service_sdk_android/android_push_notifications.htm?search_text=notification) to see if it fits your use case. Thanks.

[2019-09-13 10:39] #158 closed

[2019-09-13 10:39] #157 closed

[2019-09-25 06:43] geekandt opened #159 "Query: Salesforce SDK need notifications to work?"
### Issue description
Our devs need to know:

1. Does Salesforce SDK need notifications to work or is it not compulsory?
2. If it is compulsory, then in what way is it used?

### Version of SDK components being used
220.1

### Device(s) and version(s) of Android being used
All devices
Android 7 and up